body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #2f2f2f;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #2f20d1;
}

a:hover {
    text-decoration: underline;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.container {
    width: 740px;
    margin: 20px auto;
    padding: 0px 20px 0px 20px;
}

.row {
    padding: 6px 0 6px 0;
}

.label {
    color: #565656;
    margin-bottom: 2px;
}

.card {
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px #747681;
}

.message {
    padding: 6px 20px;
    font-size: 1em;
    color: rgb(40, 40, 40);
    box-sizing: border-box;
    margin: 0px;
    border-radius: 3px;
    width: 100%;
    overflow: auto;
}

.error {
    padding: 6px 20px;
    border-radius: 3px;
    background-color: #ffe7e7;
    border: 1px solid #e46b66;
    color: #dc0d24;
}

.success {
    background-color: #48e0a4;
    border: #40cc94 1px solid;
    border-radius: 3px;
    color: #105b3d;
}

.validation-message {
    color: #e20900;
}

.font-bold {
    font-weight: bold;
}

.display-none {
    display: none;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.mr-20 {
    margin-right: 20px;
}

.m-20 {
    margin: 20px;
}

.tile-container {
    width: 30%;
    border: 2px solid #696969;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.tapahtuma {
    border: 2px solid #696969;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}

.tapahtuma button {
    border-radius: 10px;
    padding: 5px;
}

.tapahtuma .form {
    border: 1px solid #696969;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

th,
td {
    margin: auto;
    padding: 5px;
}

table {
    margin: 10px auto;
    width: 70%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 2px solid #696969;
    overflow: hidden;
}

table th:not(:last-child),
table td:not(:last-child) {
    border-right: 1px solid #696969;
}

table > thead > tr:not(:last-child) > th,
table > thead > tr:not(:last-child) > td,
table > tbody > tr:not(:last-child) > th,
table > tbody > tr:not(:last-child) > td,
table > tfoot > tr:not(:last-child) > th,
table > tfoot > tr:not(:last-child) > td,
table > tr:not(:last-child) > td,
table > tr:not(:last-child) > th,
table > thead:not(:last-child),
table > tbody:not(:last-child),
table > tfoot:not(:last-child) {
    border-bottom: 1px solid #696969;
}

th.min {
    text-align: center;
}

td,
th {
    width: 1%;
    white-space: nowrap;
}
.min form {
    margin: 0px;
    display: inline-block;
}

.form {
    display: none;
    background-color: #eeeeee;
}

table .form.open {
    display: table-row;
}

div.form.open {
    display: block;
}

body > #avaalisays {
    float: right;
    margin: 10px;
}

#lisaa #avaalisays {
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header h1,
.header h2,
.header h3 {
    display: inline-block;
}

.footer form {
    display: inline-block;
}

.startendtime div,
.startendtime h1 {
    display: inline-block;
}


@media all and (max-width: 780px) {
    .container {
        width: auto;
    }
}
@media all and (max-width: 400px) {
    .container {
        padding: 0px 20px;
    }
    .tile-container {
        width: auto;
    }
    input,
    select {
        width: 100%;
    }
}
